/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* CSS Document */
.header
 {
 	width: 100%;
 	height: 170px;
 	background-color: #ACFA58;
 }
 .link
 {
 	float:right;
 }

 .home
 {
 	background-image: url('mainImage.jpg');
 	height: 350px;
  margin-top: 50px;
  width: 100%;
 }